<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<title> Challenge: {{ challenge_name }} </title>

{# jquery #}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
{#<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/ui-darkness/jquery-ui.css" type="text/css" rel="stylesheet"/>#}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/ui-lightness/jquery-ui.css" type="text/css" rel="stylesheet"/>

{# Jeeqs core #}
<script type="text/javascript" src="/static/core.js"></script>

{# prettifier    #}
<link href="/static/prettify.css" type="text/css" rel="stylesheet"/>
<link href="/static/desert.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="/static/prettify.js"></script>

{#Ace#}
{# Compressed ace is not working on Safari #}
<script src="/static/ace/ace-uncompressed.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/ace/mode-python.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/ace/theme-twilight.js" type="text/javascript" charset="utf-8"></script>

{# MathJax #}
<script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<style type="text/css">
    body {
        font-family: monospace;
        font-size: 10pt;
    }

    p {
        margin: 0.5em;
        font-family: arial;
    }

    a img {
        border: none;
    }

    .prompt, #output {
        width: 80%;
        border: 1px solid silver;
        background-color: #f5f5f5;
        font-size: 10pt;
        margin: 0.5em;
        padding: 0.5em;
        padding-right: 0em;
        overflow-x: hidden;
    }

    #toolbar {
        margin-left: 0.5em;
        padding-left: 0.5em;
    }

    #ajax-status {
        font-weight: bold;
    }

    .message {
        color: #8AD;
        font-weight: bold;
        font-style: italic;
    }

    .error {
        color: #F44;
    }

    .username {
        font-weight: bold;
    }

</style>