<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Jeeqs</title>
</head>
<body>
<h3> Review a Submission: </h3>
{% for item in challenges.items %}
    <a href="/review/?ch={{ item.1 }}">{{ item.0 }}</a>
    <br/>
{% endfor %}
<h3> Take a Challenge: </h3>
{% for item in challenges.items %}
    <a href="/challenge/?ch={{ item.1 }}">{{ item.0 }}</a>
    <br/>
{% endfor %}
{% include "user.html" %}
</body>
</html>