<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    {% include "head.html" %}
</head>

<script>
    window.onload = function () {
        prettyPrint();
    }

    $(document).ready(function() {
        $('.correct-vote').bind('click', function(e) {
            $initiator = $(this)
            $.ajax({
                url: "/rpc",
                type: "POST",
                data: {'method': 'submit_correct', 'submission_key':$(this).attr('id')},
                success: function(response){
                    $initiator.attr("disabled", "disabled");
                }
            })
        })
    })
</script>


<body>
    {% include "challenge.html" %}

    <br/>

    <div id="submissions" style="width:45%; float:left">
        {% if submissions|length == 0 %}
            <p> No Submissions are available to review </p>
        {% else %}
            {% for submission in submissions %}
                <h3>Submitted by {{ submission.author }} </h3>
                <pre class="prettyprint">
{{ submission.content }}
                </pre>
                {% if jeeqser.key in submission.voted_correct %}
                    <button id="{{ submission.key }}" class="correct-vote" disabled="disabled">Correct</button>
                {% else %}
                    <button id="{{ submission.key }}" class="correct-vote" >Correct</button>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    {% include "user.html" %}

</body>
</html>