<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    {% include "head.html" %}
</head>

<script>
    window.onload = function () {
        prettyPrint();
    }

    $(document).ready(function() {
        $('.correct-vote').bind('click', function(e) {
            $initiator = $(this)
            $submission_id = $(this).closest('div').children("input[type='hidden']:first").val();
            $.ajax({
                url: "/rpc",
                type: "POST",
                data: {'method': 'submit_correct', 'submission_key':$submission_id},
                success: function(response){
                    $initiator.attr("disabled", "disabled");
                }
            })
        })
    })
</script>


<body>
    {% include "challenge.html" %}

    <br/>

    <div id="submissions" style="width:45%; float:left">
        {% if submissions|length == 0 %}
            <p> No Submissions are available to review </p>
        {% else %}
            {% for submission in submissions %}
                <div>
                    <input type="hidden" value="{{ submission.key }}"/>
                    <h3>Submitted by {{ submission.author }} </h3>
                    <pre class="prettyprint">{{ submission.content }}</pre>
                    <button class="correct-vote" {{  submission.user_voted_correct|yesno:"disabled=true," }}>Correct</button>
                    <div id="demo-frame">
                        <div class="demo">

                            <div id="slider"></div>

                        </div><!-- End demo -->

                        <style>
                            #demo-frame > div.demo { padding: 10px !important; }
                        </style>
                        <script>
                            $(function() {
                                $( "#slider" ).slider();
                            });
                        </script>

                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    {% include "user.html" %}

</body>
</html>