{% extends "base_twoColumn.html" %}

{% block column1 %}
    <div id="jeeqs-definition">
        Jeeqs is a collaborative problem solving platform where Jeeqsers submit and review solutions for challenges.
        <br/>
        <br/>
        Jeeqs is powered by the Google App Engine.
        <span>
                <a class="noline" href="http://code.google.com/appengine/">
                    <img src="/static/appengine_button_noborder.gif"
                         style="vertical-align: middle"/></a>
        </span>
    </div>
{% endblock %}