{% extends "base_twoColumn.html" %}

{% block column1 %}
    <div id="jeeqs-definition">
        Jeeqs is a collaborative problem solving platform where Jeeqsers submit and review solutions for challenges.
        <br/>
        <br/>
        Jeeqs is powered by the Google App Engine.
        <span>
                <a class="noline" href="http://code.google.com/appengine/">
                    <img src="/static/appengine_button_noborder.gif"
                         style="vertical-align: middle"/></a>
        </span>
    </div>
    <div>
        <h3>Terms of use</h3>
        <ul>
            <li><strong>Spam: </strong> A post that is flagged by a few users will be removed. A Jeeqser's account will be suspended if a few of his/her posts are remove because of flagging.</li>
        </ul>
    </div>
{% endblock %}