{# Gets object 'activities' and renders it #}
{% for activity in activities %}
    <div class="activity" style="margin-top: 10px">
        {% if activity.type == 'submission' %}
            <span style="color:#099d01">{{ activity.done_by.displayname }}</span>
            submitted for challenge <a class="noline" style="color:#447fcf" href="/challenge/?ch={{ activity.challenge.key }}">{{ activity.challenge_name }}</a>
            <br/> <span style="color:#444; font-size:smaller;">{{ activity.date|timesince }} ago </span>
        {% endif %}
    </div>
{% endfor %}