<div style="font-size: smaller; margin-left: 10px">
    <span style="color:green; float:left">{{ submission.correct_count }}</span><span class="ui-icon ui-icon-check" style="float:left; margin-right: 5px"></span>
    <span style="color:red; float:left">{{ submission.incorrect_count }}</span><span class="ui-icon ui-icon-closethick" style="float:left; margin-right: 5px"></span>
    <span style="color:grey; float:left">{{ submission.flag_count }}</span><span class="ui-icon ui-icon-flag" style="float:left; margin-right: 5px"></span>
</div>
