{% extends "base.html" %}

{% block container %}
  <div class="container">
    <div id="container_header" class="container row">
        {% block container_header %}
        {% endblock container_header %}
    </div>
    <div id="column1" class="{%block column1-style%}ten columns{%endblock%}">
        {% block column1 %}{% endblock %}
    </div>
    <div id="column2" class="{% block column2-style %}six columns{% endblock %}">
        {#        {% if not local %}#}
        {#{% include "advertisement.html" %}#}
        {#        {% endif %}#}
        {% block column2 %}
        {% endblock %}
    </div>
  </div>
  <div id="container_footer" class="container row ">
    {% block container_footer %}
    {% endblock container_footer %}
  </div>
{% endblock %}
