<script>
    {% if not challenge.markdown %}
        $(document).ready(function() {
            $( "#challenge" ).tabs( "option", "selected", 2 );
        })
    {% endif %}
</script>
<div class="challenge" style="float:left; width:100%;">
    <h1> {{ challenge.name }} </h1>
    <h3> {% include "exercise_breadcrumbs.html" %} </h3>
    <div id="challenge" class="tabs">
        <ul>
            <li><a href="#tabs-1">Problem</a></li>
            <li><a href="#tabs-2">Source</a></li>
            <li><a href="#source-pdf">PDF</a></li>
        </ul>
        <div id="tabs-1">
            {% if challenge.content  %}
                <p> {{ challenge.content|safe }} </p>
            {% else %}
                <p> Complete me! </p>
            {% endif %}
        </div>
        <div id="tabs-2">
            <textarea id="challenge-source" {% if not isadmin %}readonly="true" {% endif %}rows="20" style="width: 100%;">{{ challenge.markdown }}</textarea>
            {% if isadmin %}
                <button type="button" id="submitChallengeSource">Update</button>
            {% endif %}
        </div>
        <div id="source-pdf" stye="min-height: 400px">
            {% if challenge.source %}
                <iframe class="scribd_iframe_embed"
                        src="{{ challenge.source }}"
                        data-auto-height="false" data-aspect-ratio="0.772727272727273" scrolling="no" id="doc_6637"
                        width="100%" height="350px" frameborder="0"></iframe>
            {% endif %}
        </div>
    </div>

    {% if challenge.attribution %}
    <div id="challenge-info" class="accordion-closed" style="float:left; margin-top: 15px;">
        <h4><a href="#">Info</a></h4>
        <div>
            <div id="Info" class="tabs">
                <ul>
                    <li><a href="#details">Details</a></li>
                </ul>
                <div id="details">
                    {% if challenge.exercise %}
                        <p>
                        <strong>Course</strong>
                        <br/>
                        <small>{{ challenge.exercise.course.program.university.name }}, {{ challenge.exercise.course.program.name }} : {{ challenge.exercise.course.name }}</small>
                        </p>
                    {%  endif %}
                    {% if challenge.attribution %}
                        <p> <strong>Attribution</strong>
                            <br/>
                            <small>{{ challenge.attribution }}</small>
                        </p>
                    {% endif %}
                    {% if challenge.source %}
                        <p> <strong>Source</strong>
                        <br/><small><a class="noline" target="_blank" href="{{ challenge.source }}">{{ challenge.source}}</a></small></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
