<div class="challenge" style="float:left; width:100%;">
    <h1> {{ challenge.name }} </h1>
    <div id="challenge">
        <ul>
            <li><a href="#tabs-1">Problem</a></li>
            <li><a href="#tabs-2">Source</a></li>
        </ul>
        <div id="tabs-1">
            <p> {{ challenge.content|safe }} </p>
        </div>
        <div id="tabs-2">
            <textarea id="challenge-source" {% if not isadmin %}readonly="true" {% endif %}rows="20" style="width: 100%;">{{ challenge.markdown }}</textarea>
            {% if isadmin %}
                <button type="button" id="submitChallengeSource">Update</button>
            {% endif %}
        </div>
        <br/>
    </div>

    {% if challenge.attribution %}
    <div id="challenge-info" class="accordion-closed" style="float:left">
        <h4><a href="#">Details</a></h4>
        <div>
            {% if challenge.exercise %}
                <p>
                <strong>Course</strong>
                <br/>
                <small>{{ challenge.exercise.course.program.university.name }}, {{ challenge.exercise.course.program.name }} : {{ challenge.exercise.course.name }}</small>
                </p>
            {%  endif %}
            {% if challenge.attribution %}
                <p> <strong>Attribution</strong>
                    <br/>
                    <small>{{ challenge.attribution }}</small>
                </p>
            {% endif %}
            {% if challenge.source %}
                <p> <strong>Source</strong>
                <br/><small><a class="noline" target="_blank" href="{{ challenge.source }}">{{ challenge.source}}</a></small></p>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
