<script>
    {% if not challenge.markdown and challenge.source %}
        $(document).ready(function() {
            $( "#challenge" ).tabs( "option", "selected", 2 );
        })
    {% endif %}

    $(document).ready(function() {
        $('#submit_challenge_vertical_scroll').bind('click', function(event, ui) {
            $(this).attr("disabled", "disabled");
            var $new_vertical_scroll = scribd_doc.api.getVerticalScroll()
            $initiator = $(this)

            $.ajax({
                url: "/rpc",
                async: false,
                type: "POST",
                data: {'method': 'submit_challenge_vertical_scroll', 'challenge_key': '{{ challenge.key }}', 'vertical_scroll':$new_vertical_scroll},
                success: function(response){
                    $initiator.button("option", "label", "Updated");
                    window.location.reload();
                },
                error: function(response) {
                    $initiator.button("option", "label", "Oops!");
                }
            })
        })

    })
</script>
<div class="challenge" style="float:left; width:100%;">
    <h1> {{ challenge.name }} </h1>
    <h3> {% include "exercise_breadcrumbs.html" %} </h3>
    <div id="challenge" class="tabs">
        <ul>
            <li><a href="#tabs-1">Problem</a></li>
            <li><a href="#tabs-2">Source</a></li>
            <li><a href="#source-pdf">PDF</a></li>
        </ul>
        <div id="tabs-1">
            {% if challenge.content  %}
                <p> {{ challenge.content|safe }} </p>
            {% else %}
                <p> To be completed! </p>
            {% endif %}
        </div>
        <div id="tabs-2">
            <textarea id="challenge-source" {% if not isadmin %}readonly="true" {% endif %}rows="20" style="width: 100%;">{{ challenge.markdown }}</textarea>
            {% if isadmin %}
                <button type="button" id="submitChallengeSource">Update</button>
            {% endif %}
        </div>
        <div id="source-pdf" stye="min-height: 400px">
            {% if challenge.document_id and challenge.access_key %}
                <div id='embedded_challenge' style="width: 100%;"></div>
                <script type="text/javascript">
                    var document_id = '{{ challenge.document_id }}';
                    var access_key = '{{ challenge.access_key }}';

                    var scribd_doc = scribd.Document.getDoc(document_id, access_key);

                    var onDocReady = function(e){
                        {% if challenge.vertical_scroll %}
                            scribd_doc.api.setVerticalScroll({{ challenge.vertical_scroll }});
                        {% endif %}
                    }

                    scribd_doc.addParam('jsapi_version', 2);
                    scribd_doc.addParam('width', $('#embedded_challenge').width() - 50);
                    scribd_doc.addParam('height', 500);
                    scribd_doc.addParam('default_embed_format', 'flash');
                    scribd_doc.addEventListener('docReady', onDocReady);
                    scribd_doc.write('embedded_challenge');
                </script>
                {% if isadmin %}
                    <button style="margin-top: 10px" type="button" id="submit_challenge_vertical_scroll">Update Vertical Scroll</button>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% if challenge.attribution %}
    <div id="challenge-info" class="accordion-closed" style="float:left; margin-top: 15px;">
        <h4><a href="#">Info</a></h4>
        <div>
            <div id="Info" class="tabs">
                <ul>
                    <li><a href="#details">Details</a></li>
                </ul>
                <div id="details">
                    {% if challenge.exercise %}
                        <p>
                        <strong>Course</strong>
                        <br/>
                        <small>{{ challenge.exercise.course.program.university.name }}, {{ challenge.exercise.course.program.name }} : {{ challenge.exercise.course.name }}</small>
                        </p>
                    {%  endif %}
                    {% if challenge.attribution %}
                        <p> <strong>Attribution</strong>
                            <br/>
                            <small>{{ challenge.attribution }}</small>
                        </p>
                    {% endif %}
                    {% if challenge.source %}
                        <p> <strong>Source</strong>
                        <br/><small><a class="noline" target="_blank" href="{{ challenge.source }}">{{ challenge.source}}</a></small></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
