<meta http-equiv="content-type" content="text/html; charset=utf-8"/>

{# favicon #}
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">

{# jquery #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
{#<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/ui-darkness/jquery-ui.css" type="text/css" rel="stylesheet"/>#}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/ui-lightness/jquery-ui.css" type="text/css" rel="stylesheet"/>

{#Ace#}
{# Compressed ace is not working on Safari see https://github.com/ajaxorg/ace/issues/612 #}
<script src="/static/ace/ace-uncompressed.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/ace/mode-python.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/ace/theme-twilight.js" type="text/javascript" charset="utf-8"></script>

{# MathJax #}
{#<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>#}
{# Version 2 is conflicting with pagedown #}
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/2.0-beta/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/javascript">
    MathJax.Hub.Config({
        "tex2jax": { inlineMath: [ [ '$', '$' ] ] }
    });
</script>

<link href="/static/jeeqs.css" type="text/css" rel="stylesheet"/>

{# Pygments #}
<link href="/static/perldoc.css" type="text/css" rel="stylesheet"/>

{# Scribd API #}
<script type="text/javascript" src='http://www.scribd.com/javascripts/scribd_api.js'></script>

{# Jeeqs core #}
<script type="text/javascript" src="/static/core.js"></script>

{# Facebook #}
<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>