<meta http-equiv="content-type" content="text/html; charset=utf-8"/>

{# jquery #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
{#<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/ui-darkness/jquery-ui.css" type="text/css" rel="stylesheet"/>#}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/ui-lightness/jquery-ui.css" type="text/css" rel="stylesheet"/>

{#Ace#}
{# Compressed ace is not working on Safari see https://github.com/ajaxorg/ace/issues/612 #}
<script src="/static/ace/ace-uncompressed.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/ace/mode-python.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/ace/theme-twilight.js" type="text/javascript" charset="utf-8"></script>

{# MathJax #}
{#<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>#}
{# Version 2 is conflicting with pagedown #}
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/2.0-beta/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<link href="/static/jeeqs.css" type="text/css" rel="stylesheet"/>

{# Pygments #}
<link href="/static/perldoc.css" type="text/css" rel="stylesheet"/>

{# Jeeqs core #}
<script type="text/javascript" src="/static/core.js"></script>
