{% extends "base_twoColumn.html" %}

{% block script %}

    <script>
        $(document).ready(function () {
            $('button').button();
            $('.ui-button-text').css("padding", "0px");
        });
    </script>
    <style>
        .button {font-size:smaller; padding: 2px 5px 2px 5px; vertical-align: middle; white-space: pre;}
    </style>
{% endblock script %}

{% block column1 %}
    <h3> Challenges: </h3>
    <table style="padding: 2em; width:100%; text-align: left; font-family: monaco">
    {% for key, value in challenges.items %}
        <tr>
            <td>
                {{ key }}
            </td>
            <td>
                <a class="noline" href="/challenge/?ch={{ value.0 }}">&ltSolve&gt</a>
            </td>
            <td>
                {% if value.1 %}
                    <button class="submitted button" style="width:80%;" disabled="disabled">Submitted ({{ value.2 }}) </button>
                {% endif %}
            </td>
            <td>
                {% if jeeqser %}
{#                    <button class="review button"><a href="/review/?ch={{ value.0 }}">Review</a></button>#}
                    <a class="noline" href="/review/?ch={{ value.0 }}">Review</a>
                {% endif %}
            </td>
            <br/>
        </tr>
    {% endfor %}
    </table>
{% endblock column1 %}
