{% extends "base_twoColumn.html" %}

{% block column1-width %}
    width: 65%;
{% endblock %}

{% block column2_width %}
    width: 35%;
{% endblock %}

{% block script %}

    <script>
        finish_tour = function() {
            guiders.hideAll();
            $('#tour').hide()

            {% if jeeqser %}
                $.ajax({
                    url: "/rpc",
                    async: true,
                    type: "POST",
                    data: {'method': 'took_tour', 'jeeqser_key': "{{ jeeqser.key }}"},
                    success: function(response){
                    }
                })
            {% endif %}
        }

        $(document).ready(function () {
            $(':button').button();

            $('.solved_submitted').on(
                    {'mouseenter': function() {
                        $(this).children().children('.solved_caption, .submitted_caption').show('slow')
                        },
                     'mouseleave': function() {
                        $(this).children().children('.solved_caption, .submitted_caption').hide()
                     }
            })

            // Website tour
            guiders.createGuider({
                buttons: [
                    {name:"Next"}
                    ,{name: "Close"
                     ,onclick: function() {
                        finish_tour()
                    }}
                    ],
                description: "Jeeqs is a collaborative problem solving and learning platform ... ",
                id: "first",
                next: "second",
                overlay: true,
                title: "Welcome to Jeeqs!"
            });

            guiders.createGuider({
                attachTo: "#challenge-list",
                highlight: "#challenge-list",
                buttons: [
                    {name: "Next"}
                    ,{name: "Close"
                        ,onclick: function() {
                            finish_tour()
                      }}],
                description: "Click on a challenge and submit your solution to the challenge ...",
                id: "second",
                next: "third",
                position: 12,
                overlay: true,
                title: "Submit for Challenges"
            });

            guiders.createGuider({
                attachTo: "#all-jeeqs-in-list",
                highlight: "#all-jeeqs-in-list",
                buttons: [
                    {name: "Next"}
                    ,{name: "Close"
                        ,onclick: function() {
                            finish_tour()
                        }}],
                description: "Once you submit your solution, Jeeqs will gather reviews (called In-Jeeqs) for your submission and shows it here. Once you have positive reviews for a submission, you can start reviewing other submissions for that challenge ...",
                id: "third",
                next: "fourth",
                position: 12,
                overlay: true,
                title: "Wait for Feedbacks (In Jeeqs)"
            });

            guiders.createGuider({
                buttons: [
                    {name: "Close"
                        ,onclick: function() {
                            finish_tour()
                        }}],
                description: "Remember to review some submissions before you submit further challenges. You can start with the Factorial challenge to receive automatic review!",
                id: "fourth",
                overlay: true,
                title: "Jeeqs on!"
            });

            $('#take_tour').on('click', function() {
                guiders.show('first')
            })
            $('#take_tour').effect('highlight', 2000)

            $('#show_tour').on('click', function(event) {
                event.preventDefault()
                guiders.show('first')
            })

        });
    </script>
{% endblock script %}

{% block column1 %}
    <h2>A Gentle Introduction to Programming Using Python, OCW, MIT
    <a class="noline"
       href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-189-a-gentle-introduction-to-programming-using-python-january-iap-2011/"
       target="_blank"
       >
        <span class="ui-icon ui-icon-extlink" style="float:right"></span>
    </a>
    </h2>
    <div id="challenge-list" class="accordion accordion-open" style="float:left; margin: 10px;height: 400px; overflow:scroll;">
        <h3><a href="#">Challenges</a></h3>
        <div class="challenge-list-div">
            <table style="width:100%; text-align: left; font-family: monaco; cell-padding: 5px; table-layout: fixed;">
                <col width="40%"/>
                <col width="5%"/>
                <col width="15%"/>
                <col width="5%"/>
                <col width="10%"/>
{#                <col width="20%"/>#}
                <col width="20%"/>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <span id="feedback_column">
                            <span class="ui-icon ui-icon-check" style="float:left"></span>
                            <span class="ui-icon ui-icon-closethick" style="float:left"></span>
                            <span class="ui-icon ui-icon-flag" style="float:left"></span>
                        </span>
                    </td>
                    <td></td>
                </tr>
                {% for challenge in challenges %}
                    <tr>
                        <td>
                            {% if challenge.automatic_review %} <span title="Jeeqs will reviews this!" class="ui-icon ui-icon-transferthick-e-w" style="float:left"></span>{% endif %}
                            <a class="noline" href="/challenge/?ch={{ challenge.key }}" style="color:
                                    {% if challenge.status == 'correct' %}
                                        #089619
                                    {% endif %}
                                    {% if challenge.status == 'incorrect' %}
                                        #960D22
                                    {% endif %}
                                ">
                                {{ challenge.name }}
                                <br/>
                                <span class="solved_submitted" style="color: #808080; font-size: smaller; float:left; margin-left: 20px; background: #d3d3d3">
                                    <span style="float:left">
                                        <span title="jeeqsers solved this challenge" style="color:green"> {{ challenge.num_jeeqsers_solved|default_if_none:"0"}}</span>
                                        <span class="solved_caption" style="display:none; color:green"> solved</span>
                                        /
                                        <span title="jeeqsers submitted a solution for this challenge"> {{ challenge.num_jeeqsers_submitted|default_if_none:"0" }}</span>
                                        <span class="submitted_caption" style="display:none"> submitted</span>
                                    </span>
                                </span>
                            </a>
                        </td>
                        <td>
                            <span>
                                <a class="noline" href="/challenge/?ch={{ challenge.key }}" title="Solve this challenge">
                                    {% if challenge.status == 'correct' %}
                                        <span class="ui-icon ui-icon-unlocked" style="float:left"></span>
                                    {% else %}
                                        <span class="ui-icon ui-icon-key" style="float:left"></span>
                                    {% endif %}
                                </a>
                            </span>
                        </td>
                        <td>
                            {% if challenge.submitted %}
                                {% include "attempt_score.html" with submission=challenge.jc %}
                            {% endif %}
                        </td>
                        <td>
                            {% if jeeqser and challenge.status == 'correct' or isadmin %}
                                <a class="noline" href="/review/?ch={{ challenge.key }}" title="Review this challenge"><span class="ui-icon ui-icon-pencil" style="float:left"></span></a>
                            {% endif %}
                        </td>
                        <td>
                            {{ challenge.exercise_number|default_if_none:"" }}
                        </td>
{#                        <td title="{{ challenge.exercise.course.name }}">#}
{#                            <small> {{ challenge.exercise.course.name|truncatewords:3 }} </small>#}
{#                        </td>#}
                        <td>
                            {% if challenge.exercise %}
                                {{ challenge.exercise_program }}/{{ challenge.exercise_university }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div id="all-jeeqs-in-list" class="accordion accordion-open" style="float:left; margin:10px;">
        <h3><a href="#">In Jeeqs</a></h3>
        <div class="jeeqs-list">
            {% include "in_jeeqs_list.html" with feedbacks=injeeqs write_challenge_name='true'%}
        </div>
    </div>

{% endblock column1 %}
{% block column2 %}
    {% if not jeeqser.took_tour %}
        <div id="tour" style="float:right; margin: 10px; width: 100%; text-align: center">
            <button id="take_tour" style="color:#EB8F00;">Take a Tour</button>
        </div>
    {% endif %}
    <div id="all_activities" class="accordion accordion-open" style="width:90%; float:right; clear:right; margin: 10px;">
        <h3><a href="#">Activities</a></h3>
        <div class>
            {% include "activities_list.html"%}
        </div>
    </div>
    <div style="width: 90%; margin: 10px; float:right; clear:right">
        {% include "plusone.html" %}
        {% include "facebook_likebox.html" %}
    </div>
{% endblock column2 %}

{% block footer %}
    <div style="float:left; clear:both; margin: 20px;">
        <a id="show_tour" class="noline" style="color: grey" href="#"> Take a Tour! </a>
    </div>
{% endblock footer %}

