{% extends "base_twoColumn.html" %}

{% block column1-width %}
    width: 70%;
{% endblock %}

{% block column2_width %}
    width: 30%;
{% endblock %}

{% block script %}

    <script>
        $(document).ready(function () {
            $('button').button();
            $('.ui-button-text').css("padding", "0px");
        });
    </script>
    <style>
        .button {font-size:smaller; padding: 2px 5px 2px 5px; vertical-align: middle; white-space: pre;}
    </style>
{% endblock script %}

{% block column1 %}
    <div id="challenge-list" class="accordion accordion-open" style="float:left; margin: 10px;height: 400px; overflow:scroll;">
        <h3><a href="#">Challenges</a></h3>
        <div class="challenge-list-div">
            <table style="width:100%; text-align: left; font-family: monaco; cell-padding: 5px; table-layout: fixed;">
                <col width="20%"/>
                <col width="5%"/>
                <col width="15%"/>
                <col width="5%"/>
                <col width="10%"/>
                <col width="20%"/>
                <col width="20%"/>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <span>
                            <span class="ui-icon ui-icon-check" style="float:left"></span>
                            <span class="ui-icon ui-icon-closethick" style="float:left"></span>
                            <span class="ui-icon ui-icon-lightbulb" style="float:left"></span>
                            <span class="ui-icon ui-icon-flag" style="float:left"></span>
                        </span>
                    </td>
                    <td></td>
                </tr>
                {% for challenge in challenges %}
                    <tr {% if challenge.solved %} style="background: #90ee90"{% endif %}>
                        <td>
                            {{ challenge.name }} {% if challenge.automatic_review %} <span title="Automatic review!" class="ui-icon ui-icon-transferthick-e-w" style="float:right"></span>{% endif %}
                        </td>
                        <td>
                            <span>
                                <a class="noline" href="/challenge/?ch={{ challenge.key }}" title="Solve this challenge">
                                    {% if challenge.solved %}
                                        <span class="ui-icon ui-icon-unlocked" style="float:left"></span>
                                    {% else %}
                                        <span class="ui-icon ui-icon-key" style="float:left"></span>
                                    {% endif %}
                                </a>
                            </span>
                        </td>
                        <td>
                            {% if challenge.submitted %}
                                {% include "attempt_score.html" with submission=challenge.jc %}
                            {% endif %}
                        </td>
                        <td>
                            {% if jeeqser and challenge.solved or isadmin %}
                                <a class="noline" href="/review/?ch={{ challenge.key }}" title="Review this challenge"><span class="ui-icon ui-icon-pencil" style="float:left"></span></a>
                            {% endif %}
                        </td>
                        <td>
                            {{ challenge.exercise.number }}
                        </td>
                        <td title="{{ challenge.exercise.course.name }}">
                            <small> {{ challenge.exercise.course.name|truncatewords:3 }} </small>
                        </td>
                        <td>
                            {% if challenge.exercise %}
                                {{ challenge.exercise.course.program.name }}/{{ challenge.exercise.course.program.university.name }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div id="all-jeeqs-in-list" class="accordion accordion-open" style="float:left; margin:10px;">
        <h3><a href="#">In Jeeqs</a></h3>
        <div class="jeeqs-list">
            {% include "in_jeeqs_list.html" with feedbacks=injeeqs write_challenge_name='true'%}
        </div>
    </div>
{% endblock column1 %}
