{% if feedbacks and feedbacks|length > 0 %}
    {% for feedback in feedbacks %}
        <div style='background: {{ feedback.background }}; float:left; width:100%; margin: 5px; {%if feedback.vote == 'flag' %}background-image: url("/static/flagged.png"){% endif %}'>
            <div class="ui-icon {{ feedback.icon }}" style="float:left; clear:both;"></div>
            <div style="float:right; font-size:small;">
                <img height="20px" width="20px" style="margin-right: 5px; vertical-align: middle " src="{{ feedback.author.gravatar_url }}"/>
                    <span>
                        submitted by {{ feedback.author.displayname }} @ {{ feedback.date }}
                    </span>
                    {% if write_challenge_name %}
                        for <a class="noline" href='/challenge/?ch={{ feedback.attempt.challenge.key }}'>{{ feedback.attempt.challenge.name }}</a>
                    {% endif %}
            </div>
            <br/>
            <div style="margin-top: 10px; float:left; clear:both">
                {{ feedback.content }}
            </div>
        </div>
    {% endfor %}
{% else %}
    No Feedbacks available!
{% endif %}
