{% extends "base.html" %}

{% block script %}
<script>
    $(document).ready(function() {
        $("#updateDisplayName").button().bind('click', function() {
            $displayname = $('#displayname').val();
            $(this).button("option", "label", "...");
            $initiator = $(this);

            $.ajax({
                url: "/rpc",
                async: false,
                type: "POST",
                data: {'method': 'update_displayname', 'display_name':$displayname, 'key':'{{ jeeqser.key }}'},
                success: function(response){
                    $initiator.button("option", "label", "Updated to " + $displayname);
                },
                error: function(response) {
                    $initiator.button("option", "label", "Ooops. Perhaps not unique !? Try again!")
                }
            })

        });
    })
</script>
{% endblock script %}

{% block container %}
    <h1> Jeeqser {{ jeeqser.displayname }} </h1>
    <h3>Display name</h3>
    <div class="jeeqser-value">
        <input type="text" id="displayname" value="{{ jeeqser.displayname }}" style="font-size: 1em;" maxlength="10">
        <button type="button" id = "updateDisplayName" style="color:orange; font-size: 1em">Update</button>
    </div>

    <h3>Profile Picture</h3>
    <div class="jeeqser-value">
        <img src="{{ gravatar_url }}"/>
        <br/>
        <br/>
        <small>We are using <a href="http://www.gravatar.com">Gravatar</a> for email : {{ jeeqser.user.email }}</small>
    </div>

    <h3>Email</h3>
    <div class="jeeqser-value">
    {{ jeeqser.user.email }}
    </div>

    <h3>Out Jeeqs</h3>
    <div class="jeeqser-value">
        {{ jeeqser.reviews_out_num|default_if_none:"0" }}
    </div>

    <h3>In Jeeqs</h3>
    <div class="jeeqser-value">
        {{ jeeqser.reviews_in_num|default_if_none:"0" }}
    </div>

    <h3>Submissions</h3>
    <div class="jeeqser-value">
        {{ jeeqser.submissions_num|default_if_none:"0" }}
    </div>

{% endblock container %}