{% extends "base_twoColumn.html" %}

{% block script %}
    <script>
        /**
         * Renders a user friendly text for his opinion
         * @param feedback
         */
        renderFeedback = function(feedback) {
            switch (feedback) {
                case 1:
                    return "Incorrect!";
                    break;
                case 2:
                    return "Incomplete!";
                case 3:
                    return "Correct";
                case 4:
                    return "Perfetto!";
            }
        }

        $(document).ready(function() {
            $('.submit-vote').bind('click', function() {

                $(this).attr("disabled", "disabled");
                $initiator = $(this)

                $submission_id = $(this).attr("id").split("__")[1];
                $response = $('#response__'+$submission_id).val();
                $vote = $('input:radio[name=feedback_'+$submission_id+']:checked').val();

                if (!$vote || $response.length < 10) {
                    alert('Please enter your vote and a 10 character minimum response!');
                    return;
                }

                $.ajax({
                    url: "/rpc",
                    async: true,
                    type: "POST",
                    data: {'method': 'submit_vote', 'submission_key':$submission_id, 'vote':$vote, 'response':$response},
                    success: function(response){
                        var parsed = jQuery.parseJSON(response)
                        if (parsed != null && parsed.flags_left_today == -1) {
                            alert("You don't have any more flags left.")
                        }
                        else {
                            if ($vote == "flag") {
                                alert("You have " + parsed.flags_left_today + " flags left")
                            }

                            $initiator.button("option", "label", "Submitted");
                            // Disable the other controls
                            $initiator.parent().find("textarea").attr("disabled", "disabled").css("font-style", "italic");
                            $initiator.parent().find("input[type=radio]").button("option", "disabled", true);
                            $initiator.parent().css("background", "bisque");

                            // Get the in_jeeqs
                            $.ajax({
                                url: "/rpc",
                                async: true,
                                type: "GET",
                                data: {'method': 'get_in_jeeqs', 'submission_key':$submission_id},
                                success: function(response) {
                                    // The sever sends an HTML
                                    $('#submissionFeedbacks').html(response);
                                    $('#column2').offset({top: $initiator.parent().parent().offset().top})
                                },
                                error: function(response) {
                                    $('#submissionFeedbacks').html("Could not retrieve other In Jeeqs")
                                }
                            })
                        }
                    }
                })
            })

            $( ".correct-button" ).button({
                icons: {
                    primary: "ui-icon-check"
                },
                text: false
            }).bind('click', function() {
                $(this).css("color", "green");
            });

            $(":button").button();

            $(".feedback-buttons").buttonset();

            // Needed to make the accordion adjust its height when ajax content is loaded into it
            $('#submissionFeedbacksContainer').accordion({clearStyle: true, autoHeight: false});
        })
    </script>

{% endblock script %}
{% block column1 %}
    {% include "challenge.html" %}

    <div id="submissions">
        {% if submissions|length == 0 %}
            <p> No Submissions are available to review </p>
        {% else %}
            <h2>Submissions available for review: </h2>
            {% for submission in submissions %}
                <div class="submission-placeholder">
                    <h3>Submitted by {{ submission.author.displayname }} </h3>
                    <div style="overflow: scroll">
                        {{ submission.content|safe }}
                    </div>
                    <div class="submission-feedback">
                        <span class="feedback-buttons">
                            <input type="radio" id="incorrect_{{ submission.key }}" name="feedback_{{ submission.key }}"
                                   value="incorrect"/>
                            <label for="incorrect_{{ submission.key }}"  class="incorrect_label" title="Incorrect or Incomplete"><span class="ui-icon ui-icon-closethick"></span></label>

                            <input type="radio" id="correct_{{ submission.key }}" name="feedback_{{ submission.key }}"
                                   value="correct"/>
                            <label for="correct_{{ submission.key }}" class="correct_label" title="Correct"><span class="ui-icon ui-icon-check"></span></label>

                            <input type="radio" id="genius_{{ submission.key }}" name="feedback_{{ submission.key }}"
                                   value="genius" class="genius_checkbox"/>
                            <label for="genius_{{ submission.key }}" title="Genius!" class="genius_label"><span class="ui-icon ui-icon-lightbulb"></span></label>

                            <input type="radio" id="flag_{{ submission.key }}" name="feedback_{{ submission.key }}"
                                   value="flag" class="flag_checkbox"/>
                            <label for="flag_{{ submission.key }}" title="Spam!" class="flag_label"><span class="ui-icon ui-icon-flag"></span></label>
                        </span>
                        <div>
                            <textarea id="response__{{ submission.key }}" rows="5" style="width: 50%;"></textarea>
                        </div>
                        <button class="submit-vote" id="submit__{{ submission.key }}" style="float:right">{{ submission.voted|yesno:'Submitted,Submit' }}</button>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock column1 %}
{% block column2 %}
    <div id="submissionFeedbacksContainer" class="accordion" style="width:100%; float:right; clear:right; margin: 10px;">
        <h3><a href="#">Other In Jeeqs </a></h3>
        <div id="submissionFeedbacks">
            {% include "in_jeeqs_list.html" %}
        </div>
    </div>
{% endblock column2 %}

