{% extends "base_twoColumn.html" %}

{% block load_scripts %}
{#  Pagedown  #}

    <link rel="stylesheet" type="text/css" href="/static/pagedown/demo/browser/demo.css" />

    <script type="text/javascript" src="/static/pagedown/Markdown.Converter.js"></script>
    <script type="text/javascript" src="/static/pagedown/Markdown.Sanitizer.js"></script>
    <script type="text/javascript" src="/static/pagedown/Markdown.Editor.js"></script>

{% endblock %}

{% block script %}
    <script>
        function runProgram() {
            var program = $editor.getSession().getValue();
            shell.onRunKeyClick(program);
        }

        function clearOutput() {
            var output = document.getElementById('output');
            output.value = '';
        }

        $(document).ready(function() {

            var converter = Markdown.getSanitizingConverter();
            converter.hooks.chain("postConversion", function (text) {
                // render the new math
                // MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
                // MathJax.Hub.Typeset($('#wmd-preview'));
                return text;
            });
            var editor1 = new Markdown.Editor(converter);
            editor1.run();

            // Resize the accordion to accomodate the preview
            $('#solutionContainer').accordion("resize");

            $consoleInitialized = false

            $('#submitSolutionButton').bind('click', function(event, ui) {
                $(this).attr("disabled", "disabled");
                var $solution = $('#wmd-input') .val();
                var $challengeKey = $('#challenge_key').val();
                $initiator = $(this)

                $.ajax({
                    url: "/rpc",
                    async: false,
                    type: "POST",
                    data: {'method': 'submit_solution', 'challenge_key': $challengeKey, 'solution':$solution},
                    success: function(response){
                        $initiator.button("option", "label", "Submitted");
                    }
                })
            })

            $('#console').accordion({
                collapsible: true,
                active: false
            }).bind('accordionchange', function(event, ui) {
                        if (!$consoleInitialized) {
                            $editor = ace.edit("editor");
                            $editor.setTheme("ace/theme/twilight");
                            var pythonMode = require("ace/mode/python").Mode;
                            $editor.getSession().setMode(new pythonMode());
                            $editor.getSession().setValue("{{ template_code|escapejs }}");

                            $consoleInitialized = true;
                        }
                    });

            $('.accordion-closed').accordion({
                collapsible: true,
                active: false
            })

            $('#feedbacks').accordion({collapsible:true});

            $(':button').button();

            {% if not jeeqser %}
                $('#submitSolutionButton').
                       button('option', 'disabled', 'disabled')
                       .button('option', 'label', 'login to Submit');
            {% endif %}

            $('#insertProgram').bind('click', function() {
                var $codeLines = $editor.getSession().getValue().split(/\r\n|\r|\n/);
                $('#wmd-input').val(
                        $('#wmd-input').val()
                        + '\n    :::python'
                )
                $.each($codeLines, function(index, value) {
                    $('#wmd-input').val(
                            $('#wmd-input').val()
                            + '\n    '
                            + value
                    )
                })
            })

        })
    </script>
{% endblock script %}

{% block column1 %}
    {% include "challenge.html" %}

    <div style="width:100%; float:left; clear:left;">
        <form id="answerForm" action="shell.runProgram" method="get">
            <input type="hidden" name="challenge_key" id = "challenge_key" value="{{ challenge_key }}" />

            <div id="solutionContainer" class="accordion accordion-open" style="width:100%; margin-top:20px;">
                <h3><a href="#">Solution</a></h3>
                <div>
                    <div class="wmd-panel">
                        <div id="wmd-button-bar"></div>
                        <textarea class="wmd-input" id="wmd-input"></textarea>
                        <div style="float:right; font-size: x-small;"><a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> and <a href="http://www.mathjax.org/">MathJax</a> are supported.</div>
                    </div>
                    <div id="wmd-preview" class="wmd-panel wmd-preview" style="margin-top: 15px;"></div>
                </div>
            </div>

            <div id="submitButton" style="margin-top: 10px;">
                {% if jeeqser.reviews_out_num >= jeeqser.submissions_num %}
                    <button type="button" id ="submitSolutionButton" style="color:green;">Submit Solution</button>
                {% else %}
                    <button type="button" id="submitSolutionButton" style="color:red" disabled="disabled" title="Submission credit has reached 0. Please review some submissions first">Submit Solution</button>
                {% endif %}
            </div>

            <div id="console" class="accordion" style="width:100%; margin-top:10px;">
                <h3><a href="#">Sandbox</a></h3>
                <div>
                    <div id="editorContainer" style="position: relative; width: 100%; height: 300px;">
                        <div id="editor" style="width: 100%; height: 300px;"></div>
                    </div>
                    <br/>
                    Console
                    <textarea id="output" rows="10" readonly="readonly" style="width: 100%;">
                    </textarea>
                    <br/>
                    <br/>
                    <button type="button" onclick="clearOutput()">Clear Console</button>
                    <button type="button" onclick="runProgram()">Run</button>
                    <button id = "insertProgram" type=button>Use</button>
                </div>
            </div>
            <br/>
        </form>

        <p/>
    </div>
{% endblock column1 %}

{% block column2 %}
    <div id="submission" style="width:100%; float:right; padding:15px;">
        {% if submission %}
            <h3> Submitted for review ({{ submission.active|yesno:'Active,Not Active' }})</h3>
            <div id="submission-content" style="overflow:scroll">
                {{ submission.content|safe}}
            </div>
            <h4>Submission score: {{ submission.vote_average|floatformat:"-2"}}/4 based on votes by {{ submission.vote_count }} Jeeqsers</h4>
            <h2>{% include "attempt_score.html" with submission=submission%}</h2>
            <div id="feedbacks" class="accordion" style="width:100%; float:right; clear:right; margin: 10px;">
                <h3><a href="#">In Jeeqs</a></h3>
                <div>
                    {% include "in_jeeqs_list.html" %}
                </div>
            </div>
        {% else %}
        <p> No submission found!</p>
        {% endif %}
    </div>

    <div id="recent-attempts" class="accordion accordion-closed" style="width:100%; float:right; clear:right; padding:15px; margin: 10px;">
        <h3><a href="#">Your Recent Submissions</a></h3>
        <div class="recent-jeeqs">
            {% if jeeqser %}
            {% for attempt in attempts %}
            <p> <a class="noline" href="/challenge/?ch={{ challenge.key }}&att={{ attempt.key }}"> Attempt #{{ attempt.index }}</a> at: {{ attempt.date }}</p>
            <div>
                    {{ attempt.content|safe }}
            </div>
            <hr/>
            {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock column2 %}
