{% extends "base_twoColumn.html" %}

{% block script %}
    <script>
        function runProgram() {
            var program = window.editor.getSession().getValue();
            shell.onRunKeyClick(program);
        }

        function clearOutput() {
            var output = document.getElementById('output');
            output.value = '';
        }

        $(document).ready(function() {

            $consoleInitialized = false

            $('#solutionContainer').accordion({
                collapsible: false
            })

            $('#submitSolutionButton').bind('click', function(event, ui) {
                $(this).attr("disabled", "disabled");
                var $solution = $('#solution') .val();
                var $challengeKey = $('#challenge_key').val();
                $initiator = $(this)

                $.ajax({
                    url: "/rpc",
                    async: false,
                    type: "POST",
                    data: {'method': 'submit_solution', 'challenge_key': $challengeKey, 'solution':$solution},
                    success: function(response){
                        $initiator.button("option", "label", "Submitted");
                    }
                })
            })

            $('#console').accordion({
                collapsible: true,
                active: false
            }).bind('accordionchange', function(event, ui) {
                        if (!$consoleInitialized) {
                            window.editor = ace.edit("editor");
                            window.editor.setTheme("ace/theme/twilight");
                            var pythonMode = require("ace/mode/python").Mode;
                            window.editor.getSession().setMode(new pythonMode());
                            window.editor.getSession().setValue("{{ template_code|escapejs }}");

                            $consoleInitialized = true;
                        }
                    });

            $('.accordion-closed').accordion({
                collapsible: true,
                active: false
            })

            $('#feedbacks').accordion({collapsible:true});

            $(':button').button();

            {% if not jeeqser %}
                $('#submitSolutionButton').
                       button('option', 'disabled', 'disabled')
                       .button('option', 'label', 'login to Submit');
            {% endif %}
        })
    </script>
{% endblock script %}

{% block column1 %}
    {% include "challenge.html" %}

    <div style="width:100%; float:left; clear:left;">
        <form id="answerForm" action="shell.runProgram" method="get">
            <input type="hidden" name="challenge_key" id = "challenge_key" value="{{ challenge_key }}" />

            <div id="solutionContainer" class="accordion" style="width:100%; margin-top:20px;">
                <h3><a href="#">Solution</a></h3>
                <div>
                    <textarea id="solution" rows="10"  style="width: 100%;"></textarea>
                    <br/>
                    <div style="float:right; font-size: x-small;"><a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> is supported.</div>
                </div>
            </div>

            <div id="submitButton" style="margin-top: 10px;">
                {% if jeeqser.reviews_out_num >= jeeqser.submissions_num %}
                    <button type="button" id ="submitSolutionButton" style="color:green;">Submit Solution</button>
                {% else %}
                    <button type="button" id="submitSolutionButton" style="color:red" disabled="disabled" title="Submission credit has reached 0. Please review some submissions first">Submit Solution</button>
                {% endif %}
            </div>

            <div id="console" class="accordion" style="width:100%; margin-top:10px;">
                <h3><a href="#">Sandbox</a></h3>
                <div>
                    <div id="editorContainer" style="position: relative; width: 100%; height: 300px;">
                        <div id="editor" style="width: 100%; height: 300px;"></div>
                    </div>
                    <br/>
                    Console
                    <textarea id="output" rows="10" readonly="readonly" style="width: 100%;">
                    </textarea>
                    <br/>
                    <br/>
                    <button type="button" onclick="clearOutput()">Clear Console</button>
                    <button type="button" onclick="runProgram()">Run</button>
                </div>
            </div>
            <br/>
        </form>

        <p/>
    </div>
{% endblock column1 %}

{% block column2 %}
    <div id="submission" style="width:100%; float:right;">
        {% if submission %}
        <h3> Submitted for review:  </h3>
        <div id="submission-content" style="overflow:scroll">
            {{ submission.content|safe}}
        </div>
        <h4>Submission score: {{ submission.vote_average|floatformat:"-2"}} based on votes by {{ submission.vote_count }} Jeeqsers</h4>
        {% else %}
        <p> No submission found!</p>
        {% endif %}
    </div>


    <div id="feedbacks" class="accordion" style="width:100%; float:right; clear:right">
        <h3><a href="#">Jeeqs In</a></h3>
        <div>
            {% if feedbacks|length > 0 %}
            {% for feedback in feedbacks %}
            <div style="background: {{ feedback.background }}; float:left; width:100%; margin: 5px;">
                <div class="ui-icon {{ feedback.icon }}" style="float:left; clear:both;"></div>
                <div style="float:right; font-size:small;">
                    <span>
                        <img height="20px" width="20px" style="margin-right: 5px; " src="{{ feedback.author.gravatar_url }}"/>
                    </span>
                    <span>
                        submitted by {{ feedback.author.displayname }} @ {{ feedback.date }}
                    </span>
                </div>
                <br/>
                <div style="margin-top: 10px; float:left; clear:both">
                    {{ feedback.content }}
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>

    <div id="recent-attempts" class="accordion accordion-closed" style="width:100%; float:right; clear:right;">
        <h3><a href="#">Your Recent Submissions</a></h3>
        <div class="recent-jeeqs">
            {% if jeeqser %}
            {% for attempt in attempts %}
            <p> Attempted at: {{ attempt.date }}</p>
            <div>
                    {{ attempt.content|safe }}
            </div>
            <hr/>
            {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock column2 %}
