{# Shows the user's information as well as authentication links #}

<style>
    a.noline { text-decoration: none;}
</style>

<div id="userInfo" style="width:100%; text-align: right">
    <p id="toolbar">
        <a class="noline" href="/">Home</a> |
        {% if jeeqser %}
            <span>
                <img width="20px" height="20px" src="{{ jeeqser.gravatar_url }}"/></span>
                <span class="username"><a class="noline" href="/user/">{{ jeeqser.displayname }}</a></span>
            | <a class="noline" href="{{ logout_url }}">log out</a>
        {% else %}
            <a class="noline" href="{{ login_url }}">log in </a>
        {% endif %}
        | <a class="noline" href="/about/">About</a>
    </p>
</div>