{# Shows the user's information as well as authentication links #}

<style>
    a.noline { text-decoration: none;}
</style>

<div id="userInfo" style="width:100%; text-align: right;">
    <div style="float:right; margin: 5px;">
        <span>
            <a class="noline" href="/">Home</a> |
            {% if jeeqser %}
                <span>
                    <img width="40px" height="40px" src="{{ jeeqser.gravatar_url }}" style="vertical-align: middle; border-radius: 5px"/>
                    <span class="username">
                        <a class="noline" href="/user/">{{ jeeqser.displayname }}
                            {% if jeeqser.suspended_until %}
                                <strong style="color:red" title="Your account is suspended until {{ jeeqser.suspended_until }}">!</strong>
                            {% endif %}
                        </a>
                    </span>
                </span>
                | <a class="noline" href="{{ logout_url }}">Log out</a>
            {% else %}
                <a class="noline" href="{{ login_url }}">Log in </a>
            {% endif %}
            | <a class="noline" href="/about/">About</a>
        </span>
    </div>
</div>