{# Shows the user's information as well as authentication links #}
<div id="userInfo" style="width:100%; text-align: right">
    <p id="toolbar">
        <a href="/">Home</a> |
        {% if jeeqser %}
            <span class="username">{{ jeeqser.user.nickname }}</span>
            (<a href="{{ logout_url }}">log out</a>)
        {% else %}
            <a href="{{ login_url }}">log in </a>
        {% endif %}
        | <a href="http://code.google.com/appengine/">
        <img src="/static/appengine_button_noborder.gif"
             style="vertical-align: middle"/></a>
    </p>
</div>